Project/force-app/main/default/flows/Warranty_Validation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Dealer_Invalid_Claim</name>
        <label>Send Notification to Dealer Invalid Claim</label>
        <locationX>716</locationX>
        <locationY>615</locationY>
        <actionName>SendSlackDirectMessageToSalesforceApp</actionName>
        <actionType>slackFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <stringValue>D0AV39AG5J7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Oops! Your Claim Is Invalid</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendSlackDirectMessageToSalesforceApp</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Dealer_Invalid_Claim_0</name>
        <label>Send Notification to Dealer Invalid Claim</label>
        <locationX>312</locationX>
        <locationY>798</locationY>
        <actionName>SendSlackDirectMessageToSalesforceApp</actionName>
        <actionType>slackFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <stringValue>D0AV39AG5J7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Your claim is in process. You will be notified soon.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendSlackDirectMessageToSalesforceApp</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_Warranty_of_Asset</name>
        <label>Check the Warranty of Asset</label>
        <locationX>584</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_to_Dealer_Invalid_Claim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_warranty.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varTodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claim_Record</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varClaimNumber</name>
        <dataType>String</dataType>
        <expression>&quot;Claim - &quot; + {!Get_Particular_Asset_Information_of_vehicle.Id}</expression>
    </formulas>
    <formulas>
        <name>varTodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Warranty Validation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Warranty Validation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Claim_Record</name>
        <label>Create Claim Record</label>
        <locationX>452</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Send_Notification_to_Dealer_Invalid_Claim_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Particular_Asset_Information_of_vehicle.CurrentServiceAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varClaimNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_warranty</name>
        <label>Get Asset warranty</label>
        <locationX>584</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Warranty_of_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Particular_Asset_Information_of_vehicle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Particular_Asset_Information_of_vehicle</name>
        <label>Get Particular Asset Information of vehicle</label>
        <locationX>584</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle_record_from_VIN_number.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_record_from_VIN_number</name>
        <label>Get Vehicle record from VIN number</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Particular_Asset_Information_of_vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleIdentificationNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVINNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Vehicle_record_from_VIN_number</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>varApproverNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A dealer has submitted a warranty request for VIN {!varVINNumber}. Please review and approve the request.</text>
    </textTemplates>
    <textTemplates>
        <name>varApproverNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Warranty Approval Required</text>
    </textTemplates>
    <variables>
        <name>varAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVINNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
